@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div class="container">
                <img class="pull-right" height="102" width="136" src="/assets/images/logo.png" />
                <h1 class="pull-right">EasyFly</h1>
            </div>
        </header>
        <div id="page">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span3" id="left-nav">
                        <ul class="nav nav-list">
                            <li id="home"><a href="/home">Home</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Maintenance and Scheduling</li>
                            <li id="airline"><a href="/airline">Airline</a></li>
                            <li id="airport"><a href="/airport">Airport</a></li>
                            <li id="route"><a href="/route">Route</a></li>
                            <li id="aircraftType"><a href="/aircraftType">Aircraft Type</a></li>
                            <li id="aircraft"><a href="/aircraft">Aircraft</a></li>
                            <li id="flight"><a href="/flight">Flight</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Customers and Booking</li>
                            <li id="customer"><a href="/customer">Customer</a></li>
                            <li><a href="/booking">Booking</a></li>
                        </ul>
                    </div>
                    <div class="span8">
                        @content
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>
