@(cust: Customer, custForm: Form[Customer])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(common.twitterBootstrapInput.render) }

@main("EasyFly") {
    @common.errorForm(custForm)
    <div class="row-fluid">
        <div class="span6">
            <h2>Edit Customer details</h2>
            @form(routes.CustomerController.update(cust.cust_id)) {
                <div class="clearfix">
                    <label for="cust_id">Customer ID</label>
                    <div class="input">
                        <input type="text" name="cust_id" value=@cust.cust_id disabled="disabled">
                    </div>
                </div>
                @inputText(custForm("cust_surname"), '_label -> "Surname") 
                @inputText(custForm("cust_credlim"), '_label -> "Credit limit")
                @inputText(custForm("cust_addr1"), '_label -> "Address1") 
                @inputText(custForm("cust_addr2"), '_label -> "Address2") 
                @inputText(custForm("cust_addr3"), '_label -> "Address3") 
                @inputText(custForm("cust_inits"), '_label -> "Initials") 
                <div class="control-group">
                    <label class="control-label" for="cust_title">Title</label>
                    <div class="controls">
                        <select name="cust_title">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="Dr">Dr</option>
                        </select>
                    </div>
                </div>
                @inputText(custForm("cust_phone"), '_label -> "Contact number") 
                <input type="hidden" name="cust_id" value=@cust.cust_id>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <a href=@routes.CustomerController.index() class="btn">Cancel</a>
                </div>
            }
        </div>
        <div class="span6"></div>
    </div>            
}
